<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">NY Times Science Scraper </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape">Scraped Articles</a>
                </li>
            </ul>

        </div>
    </nav><br>
    {{#if saved}}
        {{#each saved}}
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-8">
                            <a href="{{this.link}}" id="link-{{this._id}}"><strong id="title-" +
                                    {{this._id}}>{{this.title}}</strong></a>
                        </div>
                        <div class="col-sm-2">
                            <button article-id="{{this._id}}" class="btn btn-primary btn-sm note">Article Note</button>
                        </div>
                        <div class="col-sm-2">
                            <button article-id="{{this._id}}" class="btn btn-danger btn-sm delete">Delete Article</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{this.summary}}</p>
                </div>
            </div>
        
        {{/each}}
    {{else}}
        <h5>There are no saved articles</h5>
    {{/if}}

</div>