<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">NY Times Science Scraper </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/saved">Saved Articles</a>
                    </li>
                </ul>
                {{!-- <span class="navbar-text">
                    <a href="/scrape" id="scrape" class="btn btn-primary">Scrape Articles</a>
                </span> --}}
            </div>
    </nav>
        {{#each articles}}
            <div class="card">
                <div class="card-header">
                    <h4 id = "title-{{@index}}">{{this.title}}</h4>
                    <a href="{{this.link}}" id="link-{{@index}}">{{this.link}}</a>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
</div>